.servidores-section {
  padding: 80px 10%;
  background-color: #0f0f0f;
  color: white;
}

.titulo-servidores {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #38AD1A;
}

.lista-servidores {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.server-card {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #333;
  transition: 0.3s;
}

.server-card:hover {
  border-color: #38AD1A;
  background-color: #222;
}

.server-img img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 25px;
}

.server-info {
  flex-grow: 1;
}

.server-info h3 {
  margin: 0 0 5px 0;
  font-size: 1.5rem;
}

.status {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #aaa;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #38AD1A;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  box-shadow: 0 0 8px #38AD1A;
}

.btn-copy {
  background-color: transparent;
  color: #38AD1A;
  border: 2px solid #38AD1A;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-copy:hover {
  background-color: #38AD1A;
  color: white;
}